<div class="container">
  <h1 class="p-4">My Issues</h1>
  <div class="grid">
    <% @issues.each do |issue| %>
      <div class="example-2 issue-card">
        <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path issue.photo %>')">
          <div class="data">
            <div class="content">
              <span class="author">Raised by: <%= full_name(issue.user.first_name, issue.user.last_name) %></span>
              <h1 class="title"><%= issue.assignment.task.name %></h1>
              <p class="text"><%= issue.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


