<!-- taches faites -->
<% assignments.each do |assignment| %>
  <% if assignment.done_state %>
    <div class="card-task">
      <%= cl_image_tag assignment.user.avatar_photo, class: "avatar-large" %>
          <div class="card-task-info">
            <h2><strike><%= assignment.task.name %></strike></h2>
            <p><strike><%= assignment.task.description %></strike></p>
          </div>
          <div class="div-btn">
            <% if assignment.user != current_user %>
              <%= link_to "Ticket", new_assignment_issue_path(assignment), class: "btn-late" %>
            <% end %>
          </div>
    </div>
  <% end %>
<% end %>
