<% flat.assignments.each do |assignment| %>
  <% if assignment.done_state%>
    <div class="card-task">
      <%= cl_image_tag assignment.user.avatar_photo, class: "avatar-large" %>
          <div class="card-task-info">
            <h2><%= assignment.task.name %></h2>
            <p> <%= assignment.task.description %></p>
          </div>
      <div class="div-btn">
          <% if assignment.user != current_user %>
          <%= link_to "ISSUE", new_assignment_issue_path(assignment), class: "btn-deal" %>
          <% end %>
      </div>
    </div>
  <% end %>
<% end %>
