<div class="tasks">
    <div class="task">
        <div class="task-title">
            <h2>Todo</h2>
        </div>
        <div class="card-task">
        
        </div>
    </div>
    <div class="task">
        <div class="task-title">
            <h2>Done</h2>
        </div>
        <div class="card-task">
        
        </div>
    </div>
</div>