<h1 id="colocation-title">Colocation : <%= @flat.name %></h1>
<div class="tasks">
  <div class="task fade-in-left">
    <div class="task-title">
      <h2>Todo</h2>
    </div>
    <h3 class="task-subtitle">Delayed</h3>
    <%= render 'flats/delayed', flat: @flat  %>
    <%= render 'flats/todo',    flat: @flat  %>
  </div>
  <div class="task fade-in-left">
    <div class="task-title">
      <h2>Done</h2>
    </div>
    <%= render 'flats/done', flat: @flat %>

  </div>
</div>
