<div class="parrallax">
  <div class="main-page-header-container column">
    <div class="row align-items-center justify-content-center">
      <span class="subtitle-easy-coloc">Gérez votre colocation tout simplement grâce à Easy Coloc'</span>
    </div>
    <div class="row align-items-center justify-content-end">
      <span class="chevron-down"><i class="fas fa-chevron-down"></i></span>
    </div>
  </div>
  <div class="wrapper-home-cards">
    <div class="main-page-body-container">
      <div class="home-cards">
        <div class="home-card left">
          <h2>Tu vis</h2>
          <div class="home-card-plan">
            <p>Une collocation :</p>
            <ul>
              <li>Difficile</li>
              <li>Sale</li>
              <li>Désordonnée</li>
            </ul>
          </div>
        </div>
        <div class="home-card active">
          <h2>Nous t'offrons</h2>
          <div class="home-card-plan">
            <p>Une collocation :</p>
            <ul>
              <li>Organisée</li>
              <li>Agréable</li>
              <li>Juste</li>
            </ul>
          </div>
          <div class="home-card-call-to-action">
            <%= link_to "Inscris-toi !", new_user_registration_path, class: "btn-deal"%>
          </div>
        </div>
        <div class="home-card right">
          <h2>Tu veux</h2>
          <div class="home-card-plan">
            <p>Une collocation :</p>
            <ul>
              <li>Sereine</li>
              <li>Propre</li>
              <li>Equitable</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>