<div class="parrallax">
  <div class="main-page-header-container column">
    <div class="row align-items-center justify-content-center">
      <span class="subtitle-easy-coloc">Gérez votre colocation tout simplement grâce à Easy Coloc'</span>
    </div>
    <div class="row align-items-center justify-content-end">
      <span class="chevron-down"><i class="fas fa-chevron-down"></i></span>
    </div>
  </div>
  <div class="wrapper-home-cards">
  <div class="main-page-body-container">
    <div class="home-cards">
        <div class="home-card basic">
          <h2>Basic</h2>
          <div class="home-card-price">
          5 CHF /mois
          </div>
          <div class="home-card-plan">
            PLAN
            <p>20GB SSD</p>
            <p>Unlimited bandwith</p>
            <p>Up to 3 website</p>
          </div>
          <div class="home-card-call-to-action">
            BUY NOW
          </div>
        </div>
        <div class="home-card active premium">
          <h2>Premium</h2>
          <div class="home-card-price">
          20 CHF /mois
          </div>
          <div class="home-card-plan">
            PLAN
            <p>50GB SSD</p>
            <p>Unlimited bandwith</p>
            <p>Up to 3 website</p>
          </div>
          <div class="home-card-call-to-action">
            BUY NOW
          </div>
        </div>
        <div class="home-card enterprise">
          <h2>Enterprise</h2>
          <div class="home-card-price">
          50 CHF /mois
          </div>
          <div class="home-card-plan">
            PLAN
            <p>1TB SSD</p>
            <p>Unlimited bandwith</p>
            <p>Up to 100 website</p>
          </div>
          <div class="home-card-call-to-action">
            BUY NOW
          </div>
        </div>
      </div>
      </div>
  </div>
</div>