<div class="parrallax">
  <div class="main-page-container d-flex align-items-center justify-content-center">  
      <span id="subtitle-easy-coloc">Gérez votre colocation tout simplement grâce à Easy Coloc'</span>
  </div>
</div>