.btn {
    text-align: right;
}

.btn-deal {
    background-color: #27E0EE;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    &:hover {
        background-color: #24C7FF;
        text-decoration: none;
        color: #fff;
    }
}