.btn {
    text-align: right;
}

.btn-deal {
    background-color: #27E0EE;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    &:hover {
        background-color: #24C7FF;
        text-decoration: none;
        color: #fff;
    }
}

.button-deal {
    background: linear-gradient(0.25turn, #24C7FF, #27E0EE);
    color: #fff;
    border-radius: 10px;
    &:hover {
        color: #fff;
    }
}

.btn-late {
    background-color: #DB3545;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    &:hover {
        text-decoration: none;
        color: #fff;
        cursor: default;
    }
}

// Hide standard input button
.custom-file-input {
    display: none;
}

.btn-done {
    margin-right: 0;
    background-color: #27E0EE;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    &:hover {
        background-color: #24C7FF;
        text-decoration: none;
        color: #fff;
    }
}

.btn-accept-deal {
    margin: 0 auto;
    padding: 5px;
    font-size: 15px;
    background-color: #27E0EE;
    padding: 5px 5px;
    border-radius: 10px;
    color: #fff;
    &:hover {
        background-color: #24C7FF;
        text-decoration: none;
        color: #fff;
    }
}
