.btn {
    text-align: right;
}

.btn-accepter {
    height: 50px;
    margin: auto 0;
    align-items: center;
    background: linear-gradient(0.25turn, #24C7FF, #27E0EE);
    border-radius: 0 0 10px 10px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 18px;

    &:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.btn-deal {
    padding: 5px;
    border-radius: 10px;
    background-color: #24C7FF;
    color: #fff;
    transition: 0.5s;

    &:hover {
        background-color: #27E0EE;
        text-decoration: none;
        color: #fff;
    }
}

.button-deal {
    background: linear-gradient(0.25turn, #24C7FF, #27E0EE);
    color: #fff;
    border-radius: 10px;

    &:hover {
        color: #fff;
    }
}

.btn-late {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(235, 28, 49);
    color: #fff;

    &:hover {
        background-color: #DB3545;
        text-decoration: none;
        color: #fff;
    }
}

// Hide standard input button
.custom-file-input {
    display: none;
}

.btn-done {
    margin-right: 0;
    background-color: #27E0EE;
    padding: 5px;
    border-radius: 10px;
    color: #fff;

    &:hover {
        background-color: #24C7FF;
        text-decoration: none;
        color: #fff;
    }
}

.btn-accept-deal {
    margin: 0 auto;
    padding: 5px;
    font-size: 15px;
    background-color: #27E0EE;
    padding: 5px 5px;
    border-radius: 10px;
    color: #fff;

    &:hover {
        background-color: #24C7FF;
        text-decoration: none;
        color: #fff;
    }
}