.tasks {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.task {
    background-color: #fff;
    margin:0 20px;
    height: 400px;
}

.task-title {
    background: linear-gradient(0.25turn, #27E0EE, #24C7FF);
}