.grid-deal {
  margin: 30px 60px;
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr;
  grid-gap: 16px;
  .card-task-deal {
    width: 90%;
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 10px;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px
  }
}

.right-card {
  display: flex;
  justify-content: flex-end;
  .card-task-proposal {
    width: 90%;
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 10px;
  }
}

.card-task-proposal-info {
   text-align: left;
    padding: 16px;
    margin-top: 6px;
    margin-left: -20px;
    transition: 0.5s;
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
    }
}

.arrow {
  font-size: 50px;
  text-align: center;
}
