#colocation-title {
    text-align: center;
    padding: 10px;
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    margin: 50px;
}

.tasks {
    margin: 0 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-content: start;
    transition: 0.5s;
    margin-bottom: 30px;
}

.task {
    background-color: #fff;
    margin: 0 20px;
    border-radius: 10px;
    justify-content: center;
}

.task-title {
    background: linear-gradient(0.25turn, #24C7FF, #27E0EE);
    border-radius: 10px 10px 0px 0px;
    padding: 7px 27px;
    color: #fff;
    text-align: left;
    margin-top: 60px;
}

.task-title-todo {
    background: linear-gradient(0.25turn, #D63031, #9E544C);
    border-radius: 10px 10px 0px 0px;
    padding: 7px 27px;
    color: #fff;
    text-align: left;
}

.task-title-done {
    background: linear-gradient(0.25turn, #07B894, #548671);
    border-radius: 10px 10px 0px 0px;
    padding: 7px 27px;
    color: #fff;
    text-align: left;
}

.text-task-title {
    text-align: center;
    font-size: 35px;
}

.done {
    margin: 30px 0;
}

.task-subtitle {
  text-align: left;
  font-size: 24px;
  margin-left: 55px;
  margin-top: 10px;
}

.card-task {
    margin: 20px auto;
    overflow: hidden;
    height: 90px;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s;
    &:hover {
        width: 90%;
    }
}

.card-task .card-task-info {
    text-align: left;
    padding: 16px;
    width: 350px;
    margin-top: 6px;
    margin-left: 0;
    transition: 0.5s;
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
    }
}


.card-task-delayed {
    margin: 20px auto;
    overflow: hidden;
    height: 90px;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0px 12px rgba(255, 0, 0, 1);
    display: flex;
    align-items: center;
    transition: 0.5s;
    &:hover {
        width: 90%;
    }
}

.card-task-delayed .card-task-info {
    text-align: left;
    padding: 16px;
    width: 350px;
    transition: 0.5s;
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
    }
}

.div-btn {
    margin-left: 20%;
    transition: 0.5s;
}

.card-task:hover .div-btn {
    margin-left: 22%;
}

.card-task-delayed:hover .div-btn {
    margin-left: 22%;
}

@media (max-width: 1350px) {
    .card-task .card-task-info {
        width: 370px;
        h2 {
            font-size: 16px;
        }

        p {
            font-size: 16px;
        }
    }

    .card-task:hover .card-task-info {
        width: 400px;
    }

    .card-task-delayed .card-task-info {
        width: 370px;
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 1170px) {
    .tasks {
        grid-template-columns: 1fr;
        width: 800px;
        margin: 0 auto;
    }

    .task-subtitle {
      text-align: left;
      margin-left: 75px;
    }

    .card-task .card-task-info {
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
    }

    .card-task-delayed .card-task-info {
        width: 350px;
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
    }

    .task {
        margin: 20px 20px;
    }

    .div-btn {
        margin-left: 40%;
    }

    .card-task:hover .div-btn {
        margin-left: 50%;
    }
}

@media (max-width: 800px) {
    .tasks {
        width: 650px;
    }

    .task-subtitle {
      text-align: left;
      margin-left: 60px;
    }

    .card-task .card-task-info {
        width:600px;
        margin-left: 0%;
    }

    .card-task-delayed .card-task-info {
        width:600px;
    }
}

@media (max-width: 690px) {
    .tasks {
        width: 570px;
    }

    .task-subtitle {
      text-align: left;
      margin-left: 50px;
    }

    .card-task .card-task-info {
        width: 50%;
        margin-left: -2%;
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
    }
    .card-task-delayed .card-task-info {
        width: 50%;
        margin-left: -2%;
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
    }
}

@media (max-width: 590px) {
    .tasks {
        width: 500px;
    }

    .card-task .card-task-info {
        width: 400px;
        margin-left: 0%;
        &:hover {
            width:50%;
        }
    }

    .card-task {
        width: 75%;
        &:hover {
            width:85%;
        }
    }

    .card-task-delayed {
        width: 75%;
        &:hover {
            width:85%;
        }
    }

    .card-task-delayed .card-task-info {
        width: 400px;
        margin-left: 0%;
        &:hover {
            width:50%;
        }
    }
}

@media (max-width: 490px) {
    #colocation-title {
        font-size: 30px;
    }

    .tasks {
        width: 490px;
    }

    .card-task .card-task-info {
        padding: 20px;
        margin-left: -4%;
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
    }


    .card-task-delayed {
        width: 20%;
        &:hover {
            width:40%;
        }
    }

    .div-btn {
        margin-left: 10%;
    }
}

.fade-in-left {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
