.container-deals {
  border-radius: 10px;
  padding-bottom: 16px !important;
  margin-bottom: 30px;
}

.grid-deal {
  margin: 30px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px
  }
}

.parent-card {
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.2);
}


 .proposal {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
 }

 .task-to-deal {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.deal-info {
   text-align: left;
    padding: 16px;
    margin-top: 6px;
    margin-left: -20px;
    transition: 0.5s;
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
    }
}

.rotate-arrow {
  transform: rotate(90deg);
  padding: 20px;
  font-size: 25px;
}

.accept-deal {
  width: 100%;
}
