.deal {
    background-color: #fff;
    display: flex;
}

.deal-avatar {
    margin:0 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-icon {
    margin: 0 40px;
    font-size: 50px;
}