 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
 }
 
 .issue-image-container {
    background-color: #fff;
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    padding:20px 10px 10px 10px;
 }

 .issue-image {
  max-width:100%;
  max-height:100%;
 }

.info-issue-recap {
  text-align: left;
  padding:20px;
  background-color: #fff;
}