.issue-upload-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-rounded {
  border-radius: 0px 0px 10px 10px;
}

.assignment-issue {
  display: flex;
}


@media (max-width: 768px) {
  .issue-upload-card {
    display: block;
  }

  .assignment-issue {
    display: block;
  }
}
