 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 30px;
}

 .smiley {
    font-size: 30px;
 }

 .congrats {
    padding-top: 20px;
    font-size: 20px;
 }

 .issue-parent-card {
  text-align: center;
  margin-left: 16px;
  width: 100%;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px;
  place-self: center;
  align-self: stretch;
  position: relative;
  .text {
    margin-bottom: 30px;
  }
  .author {
    position: absolute;
    bottom: 15px;
  }
}

 .issue-image-container {
    background-color: #fff;
    height: 220px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
 }

 .issue-image {
  max-width:100%;
  border-radius: 10px 10px 0px 0px;
 }

.info-issue-recap {
  text-align: left;
  padding:20px;
  background-color: #fff;
}
