.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

/* Create a sticky/fixed navbar */
#navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 240px;
  width: 100%;
  padding: 0 64px;
  background: transparent;
  line-height: 150px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

.site-title {
  color: white;
  font-weight: 700;
  display: inline-block;
  margin: 0 -10px;
  -webkit-transition: all .5s;
    transition: all .5s;
}

// .site-title:hover {
//   color:black;
//   transition: color 0s;
// }

.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
}

.scrolled-nav .site-title  {
  font-size: 16px;
}

.transition-finished {
  background-color: hsla(0,0%,100%,1) !important;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    
}

.transition-finished .site-title {
  color: black;
  padding-bottom: 4px;
  margin: 0;
}

.transition-finished a.nav-link {
  color: black !important;
  font-size: 16px !important;
}

.transition-finished a {
  padding: 0 !important;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px 0;
  margin: 0px 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  border-radius: 4px;
  position: relative;
}

/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #3cefff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#navbar a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* Links on mouse-over */
// #navbar a:hover {
//   opacity: 0.6;
//   color: white;
// }

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
}