.deal {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
}

.new-deal-card {
  background-color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
}


.change-icon {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxs {
    padding: 10px 42px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-checkbox {
    text-align: center;
    .style-checkbox {
        text-align: left;
        margin: 10px 25px;
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 8px 5px 8px 5px;
        color: #222;
        display: flex;
        justify-content: start;
        align-items: center;
        cursor: grab;
        transition: 0.5s;
        input {
            appearance: none;
        }

        img {
            margin: 0px 20px 0 20px;
        }

        label {
            margin-top: 5px;
            cursor: grab;
            font-size: 0.9rem;
        }
        span {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }
}

.style-checkbox.active {
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(0.25turn, #24C7FF, #27E0EE);
    color: #fff;
}

.description {
    margin: 0 auto;
    width: 80%;
}


// text area auto resize class

.txtstuff {
  resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
  overflow: hidden;
}

.hiddendiv {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.common {
  width: 500px;
  min-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  overflow: hidden;
}


//-------------------------

@media (max-width: 1250px) {
    .checkboxs {
        grid-template-columns: 1fr;
    }
}
